*.workers.opensandbox.ai {
    tls {
        dns route53 {
            access_key_id {env.AWS_ACCESS_KEY_ID}
            secret_access_key {env.AWS_SECRET_ACCESS_KEY}
            region us-east-2
        }
    }
    reverse_proxy localhost:8080
}
